<header class="page-header" id="page-header">
    <div class="inner">
        <a class="logo" href="/">
            <h1>Dispensary Adventures</h1>
        </a>
        <nav>
            <input id="menu-toggle" type="checkbox">
            <label for="menu-toggle">
                {% include "potleaf.njk" %}
            </label>
            <div class="menu">
                <ul>
                    <li>
                        <a class="btn-about" href="/about/">About</a>
                    </li>
                    <li>
                        <a class="btn-about" href="/list/">Weed Review Stats</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>