{% from "./responsive-picture.njk" import responsiveImage %}

{% macro gallery(photos) %}
    <section class="photos-block bg-black">
        <div class="content-wrapper">
            <div class="swiper" id="review-carousel">
                <div class="swiper-wrapper">
                    {% for photo in photos %}
                        <div class="swiper-slide">
                            {{ responsiveImage(photo.fields.file.url, "") }}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
{% endmacro %}