{%- macro gallery(photos) -%}
    <section class="photos-block bg-black">
        <div class="content-wrapper">
            <div class="swiper" id="review-carousel">
                <div class="swiper-wrapper">
                    {% for photo in photos %}
                        <div class="swiper-slide">
                            <img src="{{ photo.fields.file.url }}" alt=""/>
                            {% if photo.caption %}
                                <div class="caption">{{ photo.caption }}</div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
                <div class="swiper-button-prev"></div>
                <div class="swiper-button-next"></div>
                <div class="swiper-pagination"></div>
            </div>
        </div>
    </section>
{%- endmacro -%}