{% from "./blog-thumb.njk" import blogthumb %}

{%- macro nextprevious(data, current) -%}
    {%- set prevNext = data | getPrevNext(current) -%}
    <section class="prev-next">
        <div class="content-wrapper flex padding-both">
            <div class="prev-entry col-half">
                {%- if prevNext.previousEntry -%}
                    <p class="pagination-label">Previous Post</p>
                    {{ blogthumb(prevNext.previousEntry) }}
                {%- endif -%}
            </div>
            <div class="next-entry col-half">
                {%- if prevNext.nextEntry -%}
                    <p class="pagination-label">Next Post</p>
                    {{ blogthumb(prevNext.nextEntry) }}
                {%- endif -%}
            </div>
        </div>
    </section>
{%- endmacro -%}