{% from "./blog-thumb.njk" import blogthumb %}
{%- macro nextprevious(data, current) -%}
    <section class="prev-next">
        {%- set previousEntry = null -%}
        {%- set nextEntry = null -%}

        {%- for item in data -%}
            {%- if item.slug == current.slug -%}
                {%- if loop.index > 1 -%}
                    {%- set previousEntry = data[loop.index - 2] -%}
                {%- endif -%}
                {%- if loop.index < data | length -%}
                    {%- set nextEntry = data[loop.index] -%}
                {%- endif -%}
            {%- endif -%}
        {%- endfor -%}

        <div class="content-wrapper flex padding-both">
            <div class="prev-entry col-half">
                {%- if nextEntry -%}
                    <p class="pagination-label">Next Post</p>
                    {{ blogthumb(nextEntry) }}
                {%- endif -%}
            </div>
            <div class="next-entry col-half">
                {%- if previousEntry -%}
                    <p class="pagination-label">Previous Post</p>
                    {{ blogthumb(previousEntry) }}
                {%- endif -%}
            </div>
        </div>
    </section>
{%- endmacro -%}