{%- macro productinfo(product) -%}
    <section class="product-meta-block bg-dark-green">
        <div class="content-wrapper">
            <div class="product-meta">
                <div class="data-block">
                    <div class="data-point brand">
                        <span class="label">Brand</span>
                        <span class="value">{{ product.brand }}</span>
                    </div>
                    <div class="data-point product-type">
                        <span class="label">Strain</span>
                        <span class="value">{{ product.strain }}</span>
                    </div>
                </div>
                <div class="data-block">
                    <div class="data-point price">
                        <span class="label">Price Point</span>
                        <span class="value">{{ product.price }} (${{ (product.cost / product.weight) | round(2) }} / gram)</span>
                    </div>
                    <div class="data-point thc">
                        <span class="label">Listed THC</span>
                        <span class="value">{{ product.listed_thc_percentage }}&#37;</span>
                    </div>
                </div>
                <div class="data-block">
                    <div class="data-point package-date">
                        <span class="label">Packaged</span>
                        <span class="value">{{ product.package_date }}</span>
                    </div>
                    <div class="data-point purchase-date">
                        <span class="label">Purchased</span>
                        <span class="value">{{ product.purchase_date }} from {{ product.dispensary }}</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
{%- endmacro -%}