{% macro scoring(scores) %}
    <section class="product-scores-block bg-green-green padding-bottom">
        <div class="content-wrapper">
            <div class="product-scores">
                <div class="data-score">
                    <span class="label">Strength:</span>
                    <span class="value">{{ scores.strength }}/10</span>
                    <div class="score-content">
                        <div class="notes">{{ scores.strength_notes | safe }}</div>
                    </div>
                </div>
                <div class="data-score">
                    <span class="label">Taste:</span>
                    <span class="value">{{ scores.taste }}/10</span>
                    <div class="score-content">
                        <div class="notes">{{ scores.taste_notes | safe }}</div>
                    </div>
                </div>
                <div class="data-score">
                    <span class="label">Appearance:</span>
                    <span class="value">{{ scores.quality }}/10</span>
                    <div class="score-content">
                        <div class="notes">{{ scores.quality_notes | safe }}</div>
                    </div>
                </div>
                <div class="data-final">
                    <span class="label">Overall Score:</span>
                    <span class="value">{{ scores.strength + scores.taste + scores.quality }}/30</span>
                    <div class="score-content">
                        <div class="notes">{{ scores.overall_notes | safe }}</div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endmacro %}