{% macro blogthumb(post) %}
    <a class="blog-thumb" href="{{ post.url }}">
        <article class="inner">
            <div class="thumb">
                {% if post.data.seo and post.data.seo.featured_image %}
                    <img src="{{ post.data.seo.featured_image | imgResize(346, 260) }}" alt="{{ post.data.title }}"/>
                {% else %}
                    <div class="placeholder-image">No Image</div>
                {% endif %}
            </div>
            <div class="content">
                <h2>{{ post.data.seo.title }}</h2>
            </div>
            <div class="post-date">{{ post.data.date | date('MM/dd/yyyy') }}</div>
        </article>
    </a>
{% endmacro %}