---
layout: base.njk
pagination:
  data: collections.reviewPost
  size: 1
  alias: reviewPost
permalink: "{{ reviewPost.permalink }}"
eleventyComputed:
  reviewPosts: "{{ reviewPost }}"
  title: "{{ reviewPost.title }}"
  description: "{{ reviewPost.seo.fields.description }}"
  metaImage: "{{ reviewPost.seo.fields.featured_image.fields.file.url }}"
  metaUrl: "{{ reviewPost.permalink }}"
  pageType: "Review"
---
{% from "../macros/nextprevious.njk" import nextprevious %}
{% from "../macros/gallery.njk" import gallery %}
{% from "../macros/product-info-flower.njk" import productinfo %}
{% from "../macros/scoring.njk" import scoring %}

<article role="article" itemprop="haspart" itemscope itemtype="http://schema.org/Article">
    <meta itemscope="itemscope" itemprop="mainEntityOfPage" itemType="https://schema.org/WebPage">
    <section class="article-header-block">
        <div class="category-header">
            <div class="content-wrapper">
                <h2>Product Review: {{ reviewPost.product_info.fields.product_type }}</h2>
            </div>
        </div>
        <div class="review-header bg-black">
            <div class="content-wrapper">
                <h1 itemprop="headline">{{ reviewPost.title }}</h1>
                <p>{{ reviewPost.short_review }}</p>
            </div>
        </div>
    </section>

    {{ gallery(reviewPost.photos) }}

    {{ productinfo(reviewPost.product_info.fields) }}

    <section class="article-main-block padding-both">
        <div class="content-wrapper" itemprop="articleBody">
            {{ reviewPost.long_review | safe }}
        </div>
    </section>

    {{ scoring(reviewPost.scores.fields) }}

    {{ nextprevious(collections.reviewPost, reviewPost) }}

</article>