---
layout: base.njk
title: Home Page
permalink: /
---
{%- from "../macros/debugger.njk" import debugger -%}
{% set reviews = collections.reviewPost | dump | stringify | cleanLineBreaks %}
{% from "../macros/blog-thumb.njk" import blogthumb %}
<script>
    var productData = {{ reviews | safe }};
</script>
<article>
    <div class="content-wrapper padding-top"></div>
    <div class="content-wrapper padding-bottom">
        <div class="home-blogroll" id="post-bucket">
            {% set latest_posts = collections.reviewPost %}
            {% for post in latest_posts %}
                {{ blogthumb(post) }}
            {% endfor %}
        </div>
    </div>
</article>