@use "_variables.scss" as *;
@use "_sass-mixins.scss" as *;

.swiper {
  img {
    width: 100%;
    max-width: 100%;
    height: auto;
  }
  padding-bottom: $gutter-width;
  .swiper-button-next,
  .swiper-button-prev {
    opacity: 0;
    transition: opacity 0.1s ease-in;
    color: $off-white;
    width: 32px;
    height: 32px;
    background: rgba(0, 0, 0, 0.5);
    border-radius: 50%;
    &:after {
      font-size: 16px;
      font-weight: bold;
    }
  }
  &:hover {
    .swiper-button-next,
    .swiper-button-prev {
      opacity: 1;
    }
  }
  .swiper-slide {
    aspect-ratio: 2160 / 1620;
    background: #333;
  }
  .swiper-pagination {
    position: relative;
    margin-top: 30px;
    .swiper-pagination-bullet {
      cursor: pointer;
      background: $bright-green;
      opacity: 1;
      width: 16px;
      height: 16px;
      margin: 0 8px;
      &.swiper-pagination-bullet-active {
        background: $white;
      }
    }
  }
}
